//@import url(https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700);
@font-face {
    font-family: 'gotham_bookregular';
    src: url('#{$image-fonts-path}gotham_book-webfont.eot');
    src: url('#{$image-fonts-path}gotham_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$image-fonts-path}gotham_book-webfont.woff2') format('woff2'),
         url('#{$image-fonts-path}gotham_book-webfont.woff') format('woff'),
         url('#{$image-fonts-path}gotham_book-webfont.ttf') format('truetype'),
         url('#{$image-fonts-path}gotham_book-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gotham_blackregular';
    src: url('#{$image-fonts-path}gotham-black-webfont.eot');
    src: url('#{$image-fonts-path}gotham-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$image-fonts-path}gotham-black-webfont.woff2') format('woff2'),
         url('#{$image-fonts-path}gotham-black-webfont.woff') format('woff'),
         url('#{$image-fonts-path}gotham-black-webfont.ttf') format('truetype'),
         url('#{$image-fonts-path}gotham-black-webfont.svg#gotham_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gotham_boldregular';
    src: url('#{$image-fonts-path}gotham-bold-webfont.eot');
    src: url('#{$image-fonts-path}gotham-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$image-fonts-path}gotham-bold-webfont.woff2') format('woff2'),
         url('#{$image-fonts-path}gotham-bold-webfont.woff') format('woff'),
         url('#{$image-fonts-path}gotham-bold-webfont.ttf') format('truetype'),
         url('#{$image-fonts-path}gotham-bold-webfont.svg#gotham_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gotham_lightregular';
    src: url('#{$image-fonts-path}gotham-light-webfont.eot');
    src: url('#{$image-fonts-path}gotham-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$image-fonts-path}gotham-light-webfont.woff2') format('woff2'),
         url('#{$image-fonts-path}gotham-light-webfont.woff') format('woff'),
         url('#{$image-fonts-path}gotham-light-webfont.ttf') format('truetype'),
         url('#{$image-fonts-path}gotham-light-webfont.svg#gotham_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gotham_mediumregular';
    src: url('#{$image-fonts-path}gotham-medium-webfont.eot');
    src: url('#{$image-fonts-path}gotham-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$image-fonts-path}gotham-medium-webfont.woff2') format('woff2'),
         url('#{$image-fonts-path}gotham-medium-webfont.woff') format('woff'),
         url('#{$image-fonts-path}gotham-medium-webfont.ttf') format('truetype'),
         url('#{$image-fonts-path}gotham-medium-webfont.svg#gotham_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
