.testimonial {
    text-align: center;
    margin-top: 50px;
    background: url("#{$image-theme-path}icon-ter.png") no-repeat center top;
	.owl-carousel-play {
        padding: 30px;
    }
    .column {
        display: inline-block;
        margin: 20px 15px;
    }
    .tab-content {
        width: 50%;
        margin: 0 auto;
    }
	.description {
        font-size: 14px;
        color: $theme-color-default;
	}
	.profile {
        font-family: $font-family-second;
        text-transform: uppercase;
        margin: 20px 0;
        letter-spacing: 2px;
        small {
            font-size: 12px;
            font-family: $font-family-base;
            color: #b1bdc0;
            text-transform: capitalize;
            letter-spacing: 0;
        }
	}
    .nav-tabs {
        border: none;
        > li > a {
            padding: 0 10px;
        }
    }
}